.controls {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  .form {
    min-width: 22rem;
    border: 1px solid rgba(1, 81, 116, 0.667);
    border-radius: 4px;
    padding: 0.5rem;
    margin: 1rem;
  }

  .get-token-form, .mint-form {
    label {
      font-weight: 500;
      min-width: 30px;
      display: block;
    }

    input {
      width: 100%;
    }
  }

  .mint-form label {
    min-width: 80px;
  }
}